.header {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    position: fixed;
    background-color: aquamarine;
    border-bottom: 5px solid #000000;
    top: 0;
    z-index: 2;
    width: 100%;
    text-align: center;
    font-size: 12px;
}

.tabs {
    display: inline-block;
    Font-size: 15px;
    flex-wrap: nowrap;
}

.tabs ul {
    list-style-type: none;
}

.tabs ul li {
    display: inline-block;
    padding: 5px;
}

.contact {
    padding: 20px;
    font-size: 25px;
}

.padding {
    padding: 100px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

@media screen and (max-width: 992px) {
    .padding {
      padding: 100;
    }
    .contact {
      font-size: 15px;
    }
  }